/* ==========================================
	 Config
	 ========================================== */
$primary-color: #2b7fdc
$secondary-color: #ee4e22
$background-color: #2b7fdc
$error-color: #DD4343
$warning-color: #E2E942
$success-color: #26CA7B
$primary-type: 'Graphik Web', Verdana, Geneva, sans-serif
$selection-background: #222

@import "core/core"
@import "exts/fonts"

/* ==========================================
	 Your Styles
	 ========================================== */

html, body
    font-family: $primary-type
    color: #fff
    background: $background-color
    padding: 2em

.hello
    margin: 0 0 4em 0
    text-align: center
    img
        width: 120px
    h1
        margin: 0
    .creed
        color: rgba(0,0,0,0.4)

.about
    text-align: center
    font-size: 0.8em
    img
        width: 200px
