include inc/head
    //-.hello
        //-img(src='/assets/img/logo.png')
        //-h1 Argos
        //-.creed Know more with less.
    //-.about
        //-p Argos is currently being developed under a grant from:
        //-img(src='/assets/img/knight.png')

    section.scene(style='background-image:url("/assets/scenes/events.jpg")')
        figcaption
            .icon
                img(src='/assets/icons/events.png')
            .info
                h2 Events
                h6 Keep up with everything that's happened in a story.
                p Argos is capable of recognizing when articles are talking about the same event, and will condense them into a single summary for you. Events belonging to the same story are automatically brought together in a timeline so that you can quickly get caught up on any story.

    section.scene(style='background-image:url("/assets/scenes/concepts.jpg")')
        figcaption
            .icon
                img(src='/assets/icons/concepts.png')
            .info
                h2 Concepts
                h6 Quickly pick up the concepts in a story.
                p Confused about the concepts behind what you're reading about? Argos connects with you with quick summaries so you can get a grasp on them right away.

    section.scene(style='background-image:url("/assets/scenes/entities.jpg")')
        figcaption
            .icon
                img(src='/assets/icons/entities.png')
            .info
                h2 Entities
                h6 Understand the people, places, and organizations involved.
                p Who has the most to lose? Who has the most to gain? What are the organizations that are influencing the outcome of this story? Using open web data, Argos pulls up this background information and gives it to you.

    section.scene(style='background-image:url("/assets/scenes/watch.jpg")')
        figcaption
            .icon
                img(src='/assets/icons/watch.png')
            .info
                h2 Watch
                h6 Track the stories that are important to you.
                p Get up-to-date notifications about the latest developments in the stories you're personally interested in. Argos makes it easy not only to keep up with them, but also to dive in and gain a deep understanding.

    section.scene(style='background-image:url("/assets/scenes/trending.jpg")')
        figcaption
            .icon
                img(src='/assets/icons/trending.png')
            .info
                h2 Trending
                h6 Hear about the stories that are important for everyone else.
                p Get a sense of what everyone else is talking about and stay on top of the issues that matter to the world. Stay engaged with and aware of everything that's happening around you with less time.

    section.about
