include inc/head
    .hello
        img(src='/assets/img/logo.png')
        h1 Argos
        .creed Know more with less.
    .about
        p Argos is currently being developed under a grant from:
        img(src='/assets/img/knight.png')
