header
    img(src='/assets/images/argos.svg', alt='argos')
    .title.mega argos
    img(src='/assets/images/waves.svg', alt='huh')
    nav
        ul.list__horizontal
            li
                a(href='/docs') docs
            li &middot;
            li
                a(href='https://github.com/publicscience/argos') source
            li &middot;
            li
                a(href='https://twitter.com/frnsys') twitter
    block
